@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99) 0px, transparent);
  color: #fff;
  min-height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBg {
  background: linear-gradient(188deg, #000 -12.65%, #282828 107.84%);
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.19);
}


.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #fff }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #fff}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #fff}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #fff }
}